@import url("https://fonts.googleapis.com/css2?family=Kreon&display=swap"); /* Kreon Font */

/* ################################################## NOTES ################################################## */

/*
  Display
    block = los margenes colapsan, los elementos se colocan uno a la vez en vertical (direccion del bloque)
      pero dos links <a/> pegados se mostraran uno arriba del otro

    inline-block = los margenes no colapsan (se suman y respetan tal cual), los elementos se pueden colocar
      en la misma linea de escritura (horizontalmente), dos links <a/> se mostraran pegados uno tras otro

    flow-root = funciona para desborde de elementos y cosas

    -webkit-inline-box = hace lo mismo que el `inline`, pero sin importar los displays de los `children`

    inline = se mantine en linea con el texto, se pega a la linea anterior y el siguiente se pega a este.
    block = es como el inline, pero se aisla en un parrafo para si solo. Lleva un "salto de linea" al final

*/

/* ################################################## GENERALS ################################################## */

/* ######################### VARIABLES */
html {
  --color-primary: #005c3e;
  /* #562e2e */
  --color-secondary: #cccccc;

  --color-white: #e9e9e9;
  --color-black: #2e2e2e;

  --color-table-bg-head: hsl(0, 0%, 50%);
  --color-table-bg-cell: hsl(0, 0%, 80%);
  --color-table-bg-column: hsl(0, 0%, 65%);

  --color-table-border-head: hsl(0, 0%, 40%);
  --color-table-border-cell: hsl(0, 0%, 70%);
  --color-table-border-column: hsl(0, 0%, 55%);

  --color-table-hover-head: hsl(0, 0%, 60%);
  --color-table-hover-cell: hsl(0, 0%, 90%);
  --color-table-hover-column: hsl(0, 0%, 75%);
}

/* ######################### RESET */
* {
  font: inherit;
  /* font-family: Helvetica, sans-serif; */
  font-size: 100%;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ######################### RESET DOCUMENT */
html,
body {
  /* min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  max-width: 100vw; */
  /* overflow-x: hidden; */

  scroll-behavior: smooth;
  color: var(--color-black);
  font-family: "Kreon", Arial, Helvetica, sans-serif, serif;
  background-color: var(--color-white);
}

/* ######################### BODY (CONTENEDOR PRINCIPAL) */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

/* ######################### ELEMENT FOCUS */
:focus,
:focus-visible,
:focus-within {
  outline: none;
  transition: none;
}
::-moz-focus-inner {
  border: 0 !important;
}

/* ################################################## HEADER ################################################## */
header,
.as-header {
  display: flex;
  background-color: var(--color-primary);
  height: 5rem;
  font-size: 1.75rem;
  font-family: "Kreon", serif;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0.5rem;
  text-align: center;
  align-items: center;
  color: var(--color-white);
}

/* ################################################## TITLE PILL ################################################## */
h1,
.as-h1,
.title {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: "Kreon";
  text-align: center;
  font-size: 1.5rem;
  margin: 1.25rem 3rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

/* ################################################## SUBTITLE PILL ################################################## */
h2,
.as-h2,
.subtitle {
  font-family: "Kreon";
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.75rem 3rem;
}

/* ################################################## SEARCH CONTROLS ################################################## */
#search {
  /* background-color: var(--color-secondary); */
  /* font-size: 1.75rem; */
  margin: 0.75rem 3rem;
  padding: 1.25rem 0.75rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ################################################## SCHEDULE TABLE ################################################## */
/* ######################### TABLA GENERAL */
#schedule {
  margin: 1rem 3rem;
  padding: 1rem 1.5rem;
  background: var(--color-secondary);
  font-size: 2.75rem;
  text-align: center;
  /* overflow: visible; */

  border: var(--color-black) 4px solid;
  border-radius: 3px;
  background-color: var(--color-secondary);

  table-layout: fixed;
}

/* ######################### ABSOLUTAMENTE TODO LO QUE ESTE DENTRO */
#schedule * {
  padding: 0px 0.3rem;
  vertical-align: middle;
  cursor: grab;
  font-size: 1.2rem;
  user-select: none;
}

/* ######################### ENCABEZADOS */
#schedule th {
  background-color: var(--color-table-bg-head);
  border: var(--color-table-border-head) solid 2px;

  font-size: 1.5rem;
  height: 2.5rem;
}

/* ######################### TODAS LAS CELDAS */
#schedule td {
  background-color: var(--color-table-bg-cell);
  border: var(--color-table-border-cell) solid 2px;
  width: 18%;
  height: 5rem;
  overflow: hidden;
}

/* ######################### LA PRIMERA COLUMNA (HORAS) */
#schedule tr > td:first-child {
  background-color: var(--color-table-bg-column);
  border: var(--color-table-border-column) solid 2px;
  width: 10%; /* Las horas van a estar más pequeño de lo normal */
}

/* ######################### HACER HOVER SOBRE UNA FILA */
#schedule tr:hover td {
  background-color: var(--color-table-hover-column);
  border: var(--color-table-hover-column) solid 2px;
}

/* ######################### HACER HOVER SOBRE UNA CELDA */
#schedule tr td:hover {
  background-color: var(--color-table-hover-cell);
  outline: var(--color-black) 3px auto;
}

/* ######################### SELECCIONAR UNA CELDA */
.selected-cell {
  background-color: var(--color-table-hover-cell);
  outline: rgb(200, 0, 0) 3px auto;
}

/* ################################################## INFO ################################################## */

/* ######################### CONTAINER */
#info {
  background-color: var(--color-secondary);
  margin: 0.75rem 3rem;
  padding: 1.25rem 0.75rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

#info > * {
  margin: 0.75rem;
}

/* ######################### EDIT TOOLS */
#edit-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* ######################### EDIT LIST */
ol {
  max-height: 200px;
  overflow: auto;
  border: 2px solid var(--color-black);
  border-radius: 10px 0 0 10px;
  padding: 1rem 2rem;
  background-color: var(--color-table-bg-column);
}

/* ################################################## INPUTS & SELECT ################################################## */
input,
.as-input,
select,
.as-select {
  min-width: 12em;
  margin: 0px 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 2.5rem;
  border: var(--color-secondary) 2px inset;
}

button {
  padding: 0.5em 1em;
  margin: 0.5rem;
}

a:hover {
  color: var(--color-black);
  cursor: pointer;
}

/* ######################### BOTON DE ACTUALIZAR */
#Actualizar {
  padding: 1em 2em;
}

/* ################################################## FOOTER ################################################## */
footer,
.as-footer {
  display: flex;
  background-color: var(--color-primary);
  height: 5rem;
  font-size: 1.25rem;
  font-family: "Kreon", serif;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem 3rem;
  text-align: center;
  align-items: center;
  color: var(--color-white);
  margin-top: auto;
}

/* ################################################## POPUP ################################################## */
#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hidden,
.hide {
  visibility: hidden !important;
  display: none !important;
}

/* ######################### POPUP BACKGROUND ######################### */
#popup-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.5;
}

/* ######################### POPUP DIALOG ######################### */
#popup-dialog {
  min-width: 40%;
  min-height: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem 2.75rem;
  margin: auto auto;
  background-color: var(--color-primary);
  z-index: 10;
  border-radius: 16px;
}

/* ######################### POPUP TEXT ######################### */
#popup-content {
  white-space: pre-line;
  color: var(--color-white);
}

#popup-content b {
  color: #df8f17;
}

/* ######################### POPUP BUTTON ######################### */
#popup-button {
  background-color: var(--color-secondary);
  /*
    NOTA: estos estilos son experimentales, nada más para que la info se vea bien al inicio.
    Hacen falta muchos más estilos y reglas, para que todo se vea bonito y eso. Con respecto al POPUP,
    toda la información se puede modificar con clases de estilos, solo es cuestión de revisar desde el
    inspeccionar cuáles son y establecer reglas CSS y ya.
  */
}

/* ################################################## MEDIA QUERIES ################################################## */

/* ######################### CAGADERO QUE ESTOY HACIENDO ######################### */
@media screen and (max-width: 1500px) {
  html {
    font-size: 17.5px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 15.5px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 13.5px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 11.5px;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 7.5px;
  }
}

/*              (:  TABLA DE DISPOSITIVOS  :)         
Device	                     | Min Width	 |   Max Width  |
Smartphone Portrait	         |  N/A	       |    375px     |
Smartphone Landscape	       |  376px	     |    667px     |
Tablet Portrait	             |  400px	     |    728px     |
Tablet Landscape	           |  668px	     |    1024px    |
Full HD Screen (i.e. laptop) |	1920px	   |    4096px    |
4K Wide Screen (i.e. desktop)|  4096px	   |    N/A       |
*/
